
<div class="container">
  <h1>Stupid Coaching</h1>

  <form action="/answer" method="get">
    <label for="question">Ask your coach anything</label>
    <div class="form-group">
      <input type="text" name="question" placeholder="Ask a question...">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>

</div>

